# Import

In [74]:
import numpy as np # numpy same as np
import pandas as pd # pandas same as pd

# What is series?

## Theory is a single column datasheet plus index column

# Creating a series through a list

In [ ]:
mydata=[1776,1867,1621] # mydata = list
myseries=pd.Series(data=mydata) #on the right hand of = side is important
                                #pd.Series=Pandasseries
                                #pd.Series(data=mydata) is pd's Series
                                #Series created from data
                                #MySeries series

myseries          
                                #dtype is short for data type
                                # int32 example of refrence range of integer(-100,100).  2^32=int32
                                # int64 example of refrence range of integer(-1000,1000). 2^64=int64

0    1776
1    1867
2    1621
dtype: int64

# Create series by customize index

In [ ]:
myindex=['USA','Canada','Mexico']
myseries2= pd.Series (data = mydata, index = myindex)#adding names for the index/columm
myseries2

USA       1776
Canada    1867
Mexico    1621
dtype: int64

# Create random number by using Numpy

In [ ]:
rand_num=np.random.randint(0,100,4) #(start/minimun/range of #'s,end/maxiumum,quantity of numbers)
#random numbers bc of randit
rand_num

array([91, 56, 14, 17])

In [73]:
myindex=['Will','Isaac','Alex']
rand_num=np.random.randint(14,30,3)
myseries2 = pd.Series (data = rand_num,index = myindex)
myseries2

Will     28
Isaac    29
Alex     27
dtype: int64

# for creating series is panda
# numpy is for creating random numbers
#

# Creating a Series From a Dictionary

In [82]:
age={'Alex':10,
    'Isaac':14,
    'Will':15,}
s1=pd.Series(age)
s1

Alex     10
Isaac    14
Will     15
dtype: int64

# Series Operation

In [ ]:
q1= {'Japan':80,
    'China':450,
    'USA':300,
    'India':100,}
q2= {'Brazil':70,
    'China':67,
    'USA':87,
    'India':88,}

sale_q1=pd.Series(q1)
sale_q2=pd.Series(q2)
q1
q2

{'Japan': 80, 'China': 450, 'USA': 300, 'India': 100}

## Call Series

In [ ]:
sale_q1['Japan']#Both ways work but encouraged to use this one as it avoids calling the index number

np.int64(80)

In [ ]:
sale_q1[0]#Works but method above is encouraged

/var/folders/ch/51fx4xkd5c19wzxxxg358h9h0000gn/T/ipykernel_20524/2458365208.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sale_q1[0]

np.int64(80)

## Wrong Way of Calling

In [ ]:
# ALL WERE INCORRECT
sale_q1['France']# Non Existent Name
sale_q2['USA '] #incorrect bc of extra space
sale_q1['japan'] # Case sensitive/undercase

## Check the Keys

In [90]:
sale_q1.keys()

Index(['Japan', 'China', 'USA', 'India'], dtype='object')

## Math Operation

In [91]:
sale_q1 *2

Japan    160
China    900
USA      600
India    200
dtype: int64

In [ ]:
sale_q1 +1

Japan     81
China    451
USA      301
India    101
dtype: int64

In [93]:
sale_q1 -10

Japan     70
China    440
USA      290
India     90
dtype: int64

In [ ]:
# The power of series, any math operation you do affects the value of the series.

## Operations Between Series

In [ ]:
sale_q1+sale_q2 # Anything not mutal is automatically taken away

Brazil      NaN
China     517.0
India     188.0
Japan       NaN
USA       387.0
dtype: float64