In [ ]:
# Definition=
# As long as more than one columns of an exel sheet, then it is called data sheet

## Import

In [1]:
import numpy as np # numpy same as np
import pandas as pd # pandas same as pd

# Creating a Dataframe

In [ ]:
mydata = np.random.randint(0,101,(4,3))#4x3||4 is row 3 is column
my_index = ['CA','NY','AZ','TX']
my_col = ['Jan','Feb','Mar'] # col is column for short
df=pd.DataFrame(data=mydata,index=my_index,columns=my_col)
df

    Jan  Feb  Mar
CA   51   10   33
NY    8   33   90
AZ   48   74   15
TX   53   10   56